/* .slider {
} */

.precision-slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
}

.slider-container {
  width: 100%;
  position: relative;
  margin: 10px 0;
  cursor: pointer;
}

.slider-track {
  width: 100%;
  height: 4px;
  background-color: #762222;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.slider-thumb {
  width: 20px;
  height: 20px;
  background-color: #007bff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: background-color 0.3s;
}

.slider-thumb:hover {
  background-color: #0056b3;
}

.slider-value {
  font-size: 16px;
  color: #333;
  margin-top: 5px;
}
