.slider {
  display: flex;
  flex-direction: column;
  padding-right: 40px;
}

.slider-container {
  width: 350px;
  height: 18px;
  position: relative;
  margin: 10px 0;
  cursor: pointer;
}

.slider-track {
  height: inherit;
  border-radius: 9px;
  outline: grey 1px solid;
  background-image: linear-gradient(rgb(165, 163, 163), rgb(252, 252, 250));
}

.slider-thumb {
  width: 14%;
  height: inherit;
  background-color: white;
  border-radius: inherit;
  outline: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.slider-value {
  font-size: 12px;
  user-select: none;
}
